/**
* Admin / Generic
*/
.updating{
	background-color: #e0ffe0;
	border-color: #00ff00;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
}

.updating p{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	padding: 2px;
}
.wp-picker-container{
	position: relative;
	width: 100%;
}
.wp-picker-input-wrap{
	position: absolute;
	left: 0px;
	width: 100%;
	top: 2em;
}
.wp-picker-holder{
	position: absolute;
	z-index: 1;
	top: 3.5em;
}
.form-table.stripped > tr:nth-child(odd), .form-table.stripped > tbody > tr:nth-child(even), .form-table.stripped > thead > tr{
	background-color: rgba(0,0,0,0.025);
}
.form-table.stripped > * > * > td,.form-table.stripped > * > * > th{
	padding: 5px;
	vertical-align: middle;
}
.form-table.stripped > * > * > th{
	text-align: center;
}
.form-table.stripped .new-section, .form-table.stripped > tbody{
	border-top: 2px solid #ddd;
}
.form-table.stripped > thead{
	border-bottom: 2px solid #ddd;
}
#ithoughts_tt_gl-customstyle{
	max-width:1160px;
}

tr.nonoverridable label, .nonoverridable:not(tr){
	color: #B73535;
}
#tinymce a[data-type="ithoughts-tooltip-glossary-term"],
#tinymce a[data-type="ithoughts-tooltip-glossary-tooltip"],
#tinymce a[data-type="ithoughts-tooltip-glossary-mediatip"]{
	font-style: italic;
	text-decoration: overline underline;
}

#tinymce span[data-type="ithoughts-tooltip-glossary-atoz"],
#tinymce span[data-type="ithoughts-tooltip-glossary-term_list"]{

}
#tinymce span[data-type="ithoughts-tooltip-glossary-atoz"]::after,
#tinymce span[data-type="ithoughts-tooltip-glossary-term_list"]::after{
	content: "]";
	font-size: 1.5em;
	vertical-align: baseline;
}
#tinymce span[data-type="ithoughts-tooltip-glossary-atoz"]::before,
#tinymce span[data-type="ithoughts-tooltip-glossary-term_list"]::before{
	content: "[";
	font-size: 1.5em;
	vertical-align: baseline;
}

#ithoughts_tt_gl-tooltip-form-container{
	z-index: 100000;
	/*
	Under source code window
	*/
	position: absolute;
}
#image-box,#image-box-body{
	text-align: center;
}
#image-box-body img {
	max-width: 100%;
	max-height: 100%;
}


#customizing-form input:disabled {
    background: #dddddd;
}