{
    "presets": [
        ["@babel/preset-env", {"useBuiltIns": "entry", "corejs": 3}],
        ["@babel/preset-react", {"pragma": "wp.element.createElement"}],
        ["@babel/preset-typescript", {"isTSX": true, "allExtensions": true}]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", {}]
    ],
    "sourceMaps": true
}
