{
    "presets": [
        ["@babel/preset-react", {"pragma": "wp.element.createElement"}],
        ["@babel/preset-typescript", {"isTSX": true, "allExtensions": true}],
        ["@babel/preset-env", {
          "useBuiltIns": "entry"
        }]
    ]
}
