.ideas
*~
*-backup-*.pot
node_modules
package-lock.json
.DS_Store
ithoughts_tt_gl.log
grunt_localconfig.json
less/*.css
/nbproject/private/
.sass-cache/



assets/build/
assets/src/scss/**/*.css*
coverage/
