[submodule "submodules/iThoughts-WordPress-Plugin-Toolbox"]
	path = submodules/iThoughts-WordPress-Plugin-Toolbox
	url = git@github.com:Nihilivin/iThoughts-WordPress-Plugin-Toolbox.git
[submodule "submodules/lessphp"]
	path = submodules/lessphp
	url = git@github.com:leafo/lessphp.git
[submodule "submodules/masonry"]
	path = submodules/masonry
	url = git@github.com:desandro/masonry.git
