<phpunit
		 bootstrap="test/php/bootstrap.php"
		 backupGlobals="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 >
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./test/php</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./class</directory>
			<!--<file>/path/to/file</file>
   <exclude>
	<directory suffix=".php">/path/to/files</directory>
	<file>/path/to/file</file>
   </exclude>-->
		</whitelist>
	</filter>


	<logging>
		<log type="coverage-clover" target="coverage/php/clover.xml"/>
	</logging>
</phpunit>
